bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
Andromede.sln.DotSettings.user

.idea/*
Libs/Andromede.Libs.Framework/obj/*
Libs/Andromede.Libs.Framework/bin/*
Libs/Andromede.Libs.Framework/DebugProto/*

Orchestrator/Andromede.Orchestrator.Aspire/obj/*
Orchestrator/Andromede.Orchestrator.Aspire/bin/*
Orchestrator/Andromede.Orchestrator.ServiceDefaults/obj/*
Orchestrator/Andromede.Orchestrator.ServiceDefaults/bin/*

Srcs/Externals/Andromede.Srcs.Externals.Authentication/obj/*
Srcs/Externals/Andromede.Srcs.Externals.Authentication/bin/*

Srcs/Internals/Andromede.Srcs.Internals.Users/obj/*
Srcs/Internals/Andromede.Srcs.Internals.Users/bin/*

Srcs/Services/Andromede.Srcs.Services.Logging/obj/*
Srcs/Services/Andromede.Srcs.Services.Logging/bin/*
Srcs/Services/Andromede.Srcs.Services.Mailling/obj/*
Srcs/Services/Andromede.Srcs.Services.Mailling/bin/*
